@media screen and (min-width:1200px){
    .nav-fl{
        display :  inline-flex;
    }
}

@media screen and (max-width:992px){
    .nav-fl{
        display :  inline-flex;
    }
}
@media screen and (max-width:768px){
    .s-history h2{
        font-size: 34px;
    }
    .s-history h3{
        font-size: 30px;
    }
}

@media screen and (max-width:576px){
    .s-history h2{
        font-size: 34px;
    }
    .s-history h3{
        font-size: 30px;
    }
    .s-history p{
        font-size: 14px;
    }
    .footer-follow img{
        width: 30px;
    }
}